* {
    margin: 0;
    padding: 0;
}

a{
    color: bisque;
    font-size: 2rem;
}

.about{
    position: absolute;
    color: bisque;
    font-size: 1.4rem;
    background-color:rgba(147, 143, 199, 0.767);
    border-radius: 25px;
    text-align: center;
    font-weight: 550;
    padding: 5px;
    top: 400px;
    left: 40px; 
}

.about-2{
    position: absolute;
    color: bisque;
    font-size: 1.4rem;
    background-color:rgba(147, 143, 199, 0.767);
    border-radius: 25px;
    top: 400px;
    text-align: center;
    font-weight: 550;
    padding: 5px;
    left: 1300px;
}

.about:hover {
    background-color: rgb(119, 109, 169)
}

.about-2:hover {
    background-color: rgb(119, 109, 169)
}

body {
    font-family: Garamond;
    background-color: bisque;
    /* overflow: hidden; */
}

.container{ 
    display: flex;
    flex-direction: row;
    justify-content:center;
    color: bisque;
    width: 250px;
    text-shadow: 2px 2px 2px black;
}

footer{
    text-align: center;
}

.grid-container{
    display:grid;
    grid-template-columns: repeat(3, 400px);
    grid-auto-rows: minmax(250px,auto); 
    border-radius: 20px;
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    position: absolute;
    top: 300px;
    left: 300px;
}

.grid-item{
    color: bisque;
    border: 6px solid;
    border-color: bisque;
    font-size: 1.45rem;
    text-align: left;
    text-shadow: 2px 2px 2px black;
    padding: 10px;
}

.grid-item:hover {
    background-color: rgba(190, 119, 238, 0.44);
}

h1 {
    text-decoration: none;
    text-align: center;
    font-size: 6rem;
    color: bisque;
    text-shadow: 2px 2px 2px black;
    margin-left: 30px
}

header {
    font-family: Lucida Bright;
    text-decoration: none;
    position: absolute;
    top: 40px;
    left: 615px;
}


header a{
    font-size: 2.5rem;
    text-decoration: none;
    padding: 8px;
    display: inline;
    color:bisque;
    position: relative;
    top: 45px;
    left: 190px;
    font-weight: bolder;
    background-color: rgb(104, 127, 140);
    border-radius: 3px;
    text-align: center;
}

header a:hover{
    border: 3px solid;
    border-color: rgb(65, 60, 80);
}

img {
    height: 100%;
    width: 100%;
}

p {
    line-height: 155%;
}

ul {
    list-style: none;
}

.small_font {
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
}

.small_font:hover {
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}
